
@media (max-width: 767px) {
    .banner {
        margin-block: 1rem;
        width: 50%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

/*-----------------------------------*\
#MEDIA QUERIES FOR TABLET VIEW SIZE
\*-----------------------------------*/

@media (min-width: 768px) {
    .bento-grid {
        max-width: 100%;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        grid-template-rows: repeat(6, minmax(0, 1fr));
        height: 80vh;
    }

    .grid-wrapper svg { display: none; }

    .banner h3 { font-size: 1rem; }

    #wrapper {
        grid-column: 3 / 6;
        grid-row: 3 / 5;
    }

    #info-wrapper {
        grid-row: 1 / 3;
        grid-column: 3 / 5;
    }

    #info-wrapper .banner {
        position: absolute;
        left: -5px;
        top: 1rem;
    }

    .about-me {
        position: absolute;
        top: 6rem;
        padding-inline: 1.5rem;
    }

    #projects-wrapper {
        grid-row: 1 / 3;
        grid-column: 5 / 7;
    }

    #projects-wrapper .banner {
        position: absolute;
        bottom: 1rem;
        left: 2rem;
    }

    #work-wrapper {
        grid-column: 1 / 3;
        grid-row: 1 / 5;
    }

    #work-wrapper .banner {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    #resume-wrapper {
        grid-column: 1 / 2;
        grid-row: 5 / 7;
    }

    #resume-wrapper .banner {
        position: absolute;
        left: 1rem;
        bottom: 0.5rem;
    }

    #education-wrapper {
        grid-column: 6 / 7;
        grid-row: 3 / 6;
    }

    #education-wrapper .banner {
        position: absolute;
        right: -4px;
        top: 3rem;
    }

    #contact-wrapper {
        grid-column: 2 / 6;
        grid-row: 5 / 7;
    }

    #svg-wrapper {
        grid-column: 6 / 7;
        grid-row: 6 / 7;
    }
}

/*-----------------------------------*\
#MEDIA QUERIES FOR DESKTOP VIEW SIZE
\*-----------------------------------*/

@media (min-width: 1000px) {
    .bento-grid, .projects-grid {
        grid-template-columns: repeat(9, minmax(0, 1fr));
        grid-template-rows: repeat(9, minmax(0, 1fr));
        height: 90vh;
    }

    .banner h3 { font-size: 1.75rem; }

    /* auto-typing wrapper */
    #wrapper {
        grid-column: 4 / 8;
        grid-row: 4 / 7;
    }

    .auto-type-name { font-size: 2rem; }
    
    /* info wrapper */
    #info-wrapper {
        grid-column: 4 / 7;
        grid-row: 1 / 4;
    }
    

    /* projects wrapper */
    #projects-wrapper {
        grid-column: 7 / 10;
        grid-row: 1 / 4;
    }

    /* work experience wrapper */
    #work-wrapper {
        grid-column: 1 / 4;
        grid-row: 1 / 7;
    }

    /* resume wrapper */
    #resume-wrapper {
        grid-column: 1 / 3;
        grid-row: 7 / 10;
    }

    /* education wrapper */
    #education-wrapper {
        grid-column: 8 / 10;
        grid-row: 4 / 8;
    }

    /* contact me wrapper */
    #contact-wrapper {
        grid-column: 3 / 8;
        grid-row: 7 / 10;
    }

    /* svg wrapper */
    #svg-wrapper {
        grid-column: 8 / 10;
        grid-row: 8 / 10;
    }
}

@media (min-width: 1280px) {
    .auto-type-name { font-size: 3rem; }

    .banner h3 { font-size: 1.875rem; }
}

/*-----------------------------------*\
#MEDIA QUERIES FOR PAGE PERFORMANCE
\*-----------------------------------*/

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}