

@media (max-width: 999px) {
    .bento-grid {
        margin: auto;
        max-width: 25rem;
    }

    .banner, #banner {
        margin-block: 1rem;
        width: 50%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}


/*-----------------------------------*\
#MEDIA QUERIES FOR DESKTOP VIEW SIZE
\*-----------------------------------*/

@media (min-width: 1000px) {
    .bento-grid, .projects-grid {
        grid-template-columns: repeat(9, minmax(0, 1fr));
        grid-template-rows: repeat(9, minmax(0, 1fr));
        height: 95vh;
    }

    .banner { position: absolute; }

    h3 { font-size: 1.75rem; }

    /* auto-typing wrapper */
    #wrapper {
        grid-column: 4 / 8;
        grid-row: 4 / 7;
    }

    .auto-type-name { font-size: 2rem; }
    
    /* info wrapper */
    #info-wrapper {
        grid-column: 4 / 7;
        grid-row: 1 / 4;
    }

    #info-wrapper .banner {
        top: 0.5rem;
        left: -5px;
    }

    .about-me {
        margin-top: 4rem;
        text-align: justify;
        padding-left: 2rem;
    }
    

    /* projects wrapper */
    #projects-wrapper {
        grid-column: 7 / 10;
        grid-row: 1 / 4;
    }

    #projects-wrapper .banner {
        left: 1rem;
        bottom: 2rem;
    }

    #projects-wrapper svg {
        position: absolute;
        bottom: 2rem;
    }

    /* work experience wrapper */
    #work-wrapper {
        grid-column: 1 / 4;
        grid-row: 1 / 7;
    }

    #work-wrapper .banner {
        left: 50%;
        transform: translate(-50%, 40%);
        text-align: center;
    }

    /* resume wrapper */
    #resume-wrapper {
        grid-column: 1 / 3;
        grid-row: 7 / 10;
    }

    #resume-wrapper .banner {
        top: 1rem;
        left: 1rem;
    }

    #resume-wrapper svg {
        position: absolute;
        top: 1rem;
        width: 100%;
    }

    /* education wrapper */
    #education-wrapper {
        grid-column: 8 / 10;
        grid-row: 4 / 8;
    }

    #education-wrapper .banner {
        top: 1rem;
        right: -5px;
    }

    #education-wrapper svg {
        position: absolute;
        bottom: -1px;
        width: 120%;
        left: -2.5rem;
    }

    /* contact me wrapper */
    #contact-wrapper {
        grid-column: 3 / 8;
        grid-row: 7 / 10;
    }

    #contact-wrapper svg {
        position: absolute;
        left: 0;
        width: 40%;
        top: -2rem;
    }

    #contact-wrapper .social-links {
        position: absolute;
        right: 2rem;
        top: 2rem;
        column-gap: 1.5rem;
        row-gap: 1rem;
    }

    /* svg wrapper */
    #svg-wrapper {
        grid-column: 8 / 10;
        grid-row: 8 / 10;
    }

    /* projects page */
    #title-wrapper {
        grid-column: 4 / 7;
        grid-row: 4 / 7;
    }

    #project-1 {
        grid-column: 1 / 6;
        grid-row: 1 / 4;
    }

    #project-2 {
        grid-column: 6 / 10;
        grid-row: 1 / 4;
    }

    #project-4 {
        grid-column: 7 / 10;
        grid-row: 4 / 7;
    }

    #project-5 {
        grid-column: 4 / 8;
        grid-row: 7 / 10;
    }

    #project-6 {
        grid-column: 8 / 10;
        grid-row: 7 / 10;
        background: var(--green-01);
    }


    #job-1 {
        grid-column: 1 / 5;
        grid-row: 1 / 4;
    }

    #job-2 {
        grid-column: 5 / 10;
        grid-row: 1 / 4;
    }

    #project-3, #job-3 {
        grid-column: 1 / 4;
        grid-row: 4 / 10;
    }

    #job-4 {
        grid-column: 7 / 10;
        grid-row: 4 / 10;
    }

    #job-5 {
        grid-column: 4 / 7;
        grid-row: 7 / 10;
    }

}

@media (min-width: 1280px) {
    .auto-type-name { font-size: 3rem; }

    .banner h3 { font-size: 1.875rem; }
}

/*-----------------------------------*\
#MEDIA QUERIES FOR PAGE PERFORMANCE
\*-----------------------------------*/

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}