/*-----------------------------------*\
#CUSTOM PROPERTY
\*-----------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');

:root {

    --yellow: rgb(233 196 106);
    --cyan: rgb(42 157 143);
    --light-blue: rgb(154 209 234);
    --orange: rgb(244 162 97);
    --dark-blue: rgb(38 70 83);
    --black: rgb(0 0 0);
    --lightgray: rgb(231 229 228);
    --dark-pink: rgb(188 71 73);
    --light-pink: rgb(242 232 207);
    --green-01: rgb(167 201 87);
    --green-02: rgb(106 153 78);
    --green-03: rgb(56 102 65);

}

/*-----------------------------------*\
#RESET
\*-----------------------------------*/

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html { font-family: "Afacad", sans-serif; }

body {
    margin: 0 auto;
    color: var(--black);
    background-color: var(--lightgray);
    padding-block: 1.8rem;
    padding-inline: 20px;
    height: 100%;
}

button {
    background: none;
    border: none;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

a, li, button, img, span { cursor: pointer; }

li { list-style: none; }

a:focus-visible,
button:focus-visible {
  outline: 3px solid var(--dark-blue);
  outline-offset: 4px;
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.grid-wrapper{
    display: grid;
}

.banner {
    background-color: var(--dark-blue);
    line-height: 2.25rem;
    padding: .75rem 1.25rem;
    z-index: 2;
}

.banner h3 {
    color: var(--yellow);
    font-weight: 600;
    font-size: 1.75rem;
}

#banner {
    background-color: var(--light-pink);
    padding: .75rem 1.25rem;
    color: var(--dark-pink);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*-----------------------------------*\
#BENTO GRID LAYOUT
\*-----------------------------------*/

.bento-grid {
    display: grid;
    gap: 1.25rem;
    margin: auto;
    max-width: 25rem;
}

.grid-wrapper {
    border: 1px solid var(--dark-blue);
    transform: scale(0);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
    position: relative;
}

/*-----------------------------------*\
#WRAPPER (AUTO TYPING)
\*-----------------------------------*/

#wrapper { background: var(--yellow); }

.auto-typing-container {
    padding-block: 2.5rem;
    display: grid;
    place-content: center;
    gap: 1.25rem;
}

.name, .my-title {
    background: var(--dark-blue);
    color: var(--lightgray);
    padding: .5rem 1.25rem;
}

.auto-type-name {
    font-size: 2rem;
    line-height: 1;
    font-weight: 700;
}

.auto-type-title { 
    font-size: 18px; 
    text-align: center;}

/*-----------------------------------*\
#INFO WRAPPER (DESCRIPTION)
\*-----------------------------------*/

#info-wrapper { background: var(--cyan); }

.about-me {
    text-align: center;
    padding-block: 1.5rem;
    color: white;
}

/*-----------------------------------*\
#PROJECTS WRAPPER
\*-----------------------------------*/

#projects-wrapper { background: var(--light-blue); }

/*-----------------------------------*\
#WORK EXPERIENCE WRAPPER
\*-----------------------------------*/

#work-wrapper { background: var(--orange); }

/*-----------------------------------*\
#RESUME WRAPPER
\*-----------------------------------*/

#resume-wrapper { background: var(--cyan); }

#resume-wrapper svg {
    width: 80%;
    margin: auto;
    margin-top: -1.5rem;
}

/*-----------------------------------*\
#EDUCATION WRAPPER
\*-----------------------------------*/

#education-wrapper { background: var(--cyan); }

/*-----------------------------------*\
#CONTACT WRAPPER
\*-----------------------------------*/

#contact-wrapper { background: var(--light-blue); }

.contact-me-text {
    font-family: "Afacad", sans-serif;
    font-size: 15px;
}

.social-links {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: .75rem;
    margin: 0 auto;
    padding-bottom: 1.5rem;
}

.social-links a {
    padding: 1rem 1.25rem;
    border: 1px solid var(--dark-blue);
    font-size: xx-large;
}

.social-links a:nth-child(1), 
.social-links a:nth-child(3), 
.social-links a:nth-child(5) { background-color: var(--dark-blue); }

.social-links a:nth-child(2), 
.social-links a:nth-child(4), 
.social-links a:nth-child(6) { background-color: var(--yellow); }

.social-links svg {
    width: 1.5rem;
}

/*-----------------------------------*\
#SVG WRAPPER
\*-----------------------------------*/

#svg-wrapper { background: var(--orange); }

#svg-wrapper svg {
    width: 50%;
    margin: 0 auto;
}

/*-----------------------------------*\
#PROJECTS PAGE GRID
\*-----------------------------------*/

#title-wrapper { background: var(--green-03); }

.wrapper-title, .subtext {
    background-color: var(--light-pink);
    color: var(--dark-pink);
    font-weight: 600;
    letter-spacing: 1px;
    padding: .75rem 1.25rem;
    text-align: center;
    margin: 0 auto;
}

.subtext { margin-inline: 2.5rem; }

.title-text { font-size: 1.3rem; }

#project-1, #project-4 { background: var(--dark-pink); }

#project-2, #project-5 { background: var(--green-02); }

#project-3 { background: var(--green-01); }

/*-----------------------------------*\
#EDUCATION PAGE GRID
\*-----------------------------------*/

#job-1, #job-4 { background: var(--dark-pink); }

#job-2, #job-5 { background: var(--green-02); }

#job-3 { background: var(--green-01); }